/* Customize the navigation bar styles */
.navbar {
  background-color: #a96cbb;
  overflow: hidden;
}

.navbar a {
  color: #f2f2f2;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: #f2f2f2;
  padding: 10px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Customize the logo style */
.logo {
  float: left;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  color: #f2f2f2;
  text-decoration: none;
}

/* Align remaining items to the right */
.navbar-right {
  float: right;
}

/* CSS styles for the footer */
.footer {
  background-color: #a96cbb;
  color: white;
  text-align: center;
  padding: 20px;
}
footer {
  background-color: #a96cbb;
  padding: 20px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.w3-bar .w3-button {
  padding: 16px;
}

.footer-title {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.footer-description {
  text-align: center;
  text-shadow: 3px 5px 10px brown;
  color: white;
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer-links li {
  margin-right: 10px;
}

.footer-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.footer-links a:hover {
  color: #000;
}

<!-- CSS FOR TEAM-- > .image-container {
  position: relative;
  overflow: hidden;
}

.image-container .image {
  transition: transform 0.3s ease;
}

.image-container:hover .image {
  transform: scale(1.1);
}

.image-container .text {
  max-height: 0;
  transition: max-height 0.3s ease;
  overflow: hidden;
}

.image-container:hover .text {
  max-height: 200px; /* Adjust this value to control the height of the sliding text */
}

/* CSS styles for the Gallery */

div.scroll-container {
  background-color: transparent;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}
/* Slideshow container */
.slideshow-container {
  position: relative;
  background: transparent;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #2c0733;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(37, 11, 79, 0.8);
  color: rgb(184, 131, 189);
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 10px;
  background: #e3bdda;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover {
  background-color: #93338c;
}

/* Add a blue color to the author */
.author {
  color: rgba(65, 11, 88, 0.649);
}
/* CSS styles for the best sellers */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
/* CSS styles for the CART */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: rgb(99, 18, 84);
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.card-items {
  list-style-type: 1;
  padding: 0;
}
/* CSS FOR BEST SELLERS */
.flip-box {
  background-color: transparent;
  width: 400px;
  height: 500px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  background-color: #555;
  color: white;
  transform: rotateY(180deg);
}
@import url(https://fonts.googleapis.com/css?family=Poppins:400,300,500);
body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
  color: #000000;
}

main {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 30px;
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
h1 {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 32px;
  font-weight: 300;
}

.topic {
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: solid 1px #ebebeb;
}

.open {
  cursor: pointer;
  display: block;
  padding: 0px;
}

.open:hover {
  opacity: 0.7;
}

.expanded {
  background-color: #f5f5f5;
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
}
.question {
  padding: 30px 40px 20px 0px;
  font-size: 18px;
  font-weight: 500;
  color: #530e66;
}

.answer {
  font-size: 16px;
  line-height: 26px;
  display: none;
  margin-bottom: 30px;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
}

.faq-t {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: inline-block;
  float: right;
  position: relative;
  top: -55px;
  right: 10px;
  width: 10px;
  height: 10px;
  background: transparent;
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  transition: all 0.3s ease-in-out;
}

.faq-o {
  top: -50px;
  -moz-transform: rotate(-224deg);
  -ms-transform: rotate(-224deg);
  -webkit-transform: rotate(-224deg);
  transform: rotate(-224deg);
}
